/* Start global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #fbe831;
    --background-color: #f8f8f8;
    --main-padding: 40px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) {
    .container {
        width: 730px;
    }
}

@media(min-width:992px) {
    .container {
        width: 950px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */
/* start header */
header {
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: #777;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

header .container img {
    width: 150px;
    max-width: 100%;
}

header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container nav ul {
    display: flex;
}

@media(max-width:767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav ul li {
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

header .container nav ul li a {
    color: black;
}

header .container nav a i {
    font-size: 31px;
    position: relative;
}

header .container nav a:hover {
    color: var(--main-color);
}

@media(max-width:767px) {
    header .container nav a:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 5px;
        background-color: rgba(0 0 0 / 60%);
        width: 50%;
        text-align: center;

    }

    header .container nav a:hover+ul li {
        width: 100%;
    }

    header .container nav a:hover+ul li:not(:last-child) {
        border-bottom: 1px solid #333;
    }

    header .container nav a:hover i::after {
        display: block;
    }
}

@media(min-width:768px) {
    header .container nav a i {
        display: none;
    }
}

/* end header */
/* start landing */
.landing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    min-height: 100vh;
}

@media(max-width:767px) {
    .landing {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .container .text {
    flex-basis: 40%;
}

@media(max-width:991px) {
    .landing .container {
        flex-direction: column;
        text-align: center;
    }

    .landing .container .text {
        margin-bottom: 20px;
        flex-basis: 50%;
    }
}

.landing .container .text h1 {
    letter-spacing: -1px;
    font-size: 47px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 10px;
}

@media(max-width:767px) {
    .landing .container .text h1 {
        font-size: 30px;
    }
}

.landing .container .text p {
    line-height: 1.8;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}

.landing .container .text button {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    color: black;
}

.landing .container .image img {
    width: 600px;
    flex-basis: 50%;
    max-width: 100%;
}

/* end header */
/* start special heading */
.special-heading h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.special-heading p {
    line-height: 1.8;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    max-width: 600px;
    margin-bottom: 70px;
}

@media(max-width:767px) {
    .special-heading h1 {
        font-size: 20px;
        text-align: center;
    }
}

/* end special heading */
/* start work */
.work {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    min-height: 100vh;
}

@media(max-width:767px) {
    .work {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.work .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:767px) {
    .work .container nav {
        flex-direction: column;
    }
}

.work .container nav ul {
    display: flex;
}

@media(max-width:767px) {
    .work .container nav ul {
        flex-direction: column;
        margin: 0;
    }
}

.work .container nav ul li {
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 5px;
    text-align: center;
}

.work .container nav ul li a {
    color: black;
    font-weight: bold;

}

.work .container nav ul li.active,
.work .container nav ul li:hover {
    background-color: var(--main-color);
}

.work .container nav .newest {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .container nav .newest h6 {
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
}

.work .container .images {
    padding-bottom: 50px;
}

.work .container .images .text {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);

}

.work .container .images .text h1 {
    font-weight: 900;
    font-size: 20px;
}

.work .container .images .text h6 {
    font-weight: 900;
}

.work .container .images img {
    width: 307px;
    max-width: 100%;
    height: 100%;
}

@media(min-width:1199px) {
    .work .container .images img {
        width: 400px;
    }
}

.work .container .images {
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 200px));
    gap: 5px;
    grid-template-areas:
        "pic1 pic2 pic3"
        "pic4 pic2 pic6"
        "pic4 pic5 pic6";
}

@media(max-width:991px) {
    .work .container .images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .work .container .images img {
        min-height: 465px;
    }

    .work .container .images .text {
        min-width: 307px;
        min-height: 200px;
    }
}

.work .container .content .pic1 {
    grid-area: pic1;
}

.work .container .content .pic2 {
    grid-area: pic2;
}

.work .container .content .pic3 {
    grid-area: pic3;
}

.work .container .content .pic4 {
    grid-area: pic4;
}

.work .container .content .pic5 {
    grid-area: pic5;
}

.work .container .content .pic6 {
    grid-area: pic6;
}

.work .container .content button {
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none;
    color: black;
    padding: 5px 10px;
    /* margin-top: 50px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* end work */
/* start sponser */
.sponser {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

@media(max-width:767px) {
    .sponser {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.sponser .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sponser .container img {
    justify-self: center;
    width: 7%;
}

@media(max-width:767px) {
    .sponser .container {
        display: none;
    }
}

/* end sponser */
/* start about */
.about {
    padding-bottom: var(--main-padding);
    padding-top: var(--main-padding);
}

@media(max-width:767px) {
    .about {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.about .container .text {
    line-height: 1.8;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    max-width: 600px;
    margin-bottom: 40px;
}

@media(max-width:767px) {
    .about .container .text {
        text-align: center;
    }
}

.about .container .directors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .container .directors .image {
    padding-bottom: 30px;
    position: relative;
}

.about .container .directors img {
    max-width: 376px;

}

@media(max-width:991px) {
    .about .container .directors {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about .container .directors img {
        max-width: 300px;
    }
}

.about .container .directors .image .title {
    position: absolute;
    bottom: 34px;
    left: 0px;
    background-color: var(--main-color);
    padding: 10px 20px;
    width: 200px;
}

.about .container .directors .image .title h3 {
    color: black;
    text-transform: capitalize;
    font-size: 15px;
}

.about .container .directors .image .title h6 {
    color: white;
    text-transform: capitalize;
    font-size: 12px;
}


.about .container .directors .info {
    padding-left: 10px;
}

.about .container .directors .info h3 {
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.about .container .directors .info p {
    max-width: 300px;
    line-height: 1.8;
    padding-bottom: 20px;
    text-transform: capitalize;
}

@media(max-width:991px) {
    .about .container .directors .info {
        text-align: center;
    }
}

.about .container .directors .info a {
    text-transform: capitalize;
    color: black;
}

.about .container .directors .info a:hover {
    color: white;
    padding: 5px 10px;
    background-color: var(--main-color);
}

/* end about */
/* start blog */
.blog {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

@media(max-width:767px) {
    .blog {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.blog .container .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media(max-width:645px) {
    .blog .container .content {
        justify-content: center;
        text-align: center;
    }
}

.blog .container .content .box {
    max-width: 300px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.blog .container .box .image img {
    max-width: 100%;
}

@media(max-width:76p7x) {
    .blog .container .box .text {
        text-align: center;
    }
}

.blog .container .box .image {
    position: relative;
}

.blog .container .box:hover .image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fbe731b0;
}

.blog .container .box .read-more p {
    position: absolute;
    top: -10px;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: 900;
}

.blog .container .box:hover .read-more p {
    top: 50%;
}

.blog .container .box .text h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 0;
}

.blog .container .box .text p {
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 20px;
}

/* end blog*/
/* start contact */
.contact {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

@media(max-width:767px) {
    .contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.contact .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .container .content form {
    display: flex;
    flex-direction: column;
}

@media(max-width:767px) {
    .contact .container .content form {
        margin: 0 auto;
        align-items: center;
    }
}

.contact .container .content form .title {
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.contact .container .content form input.main-input,
.contact .container .content form textarea {
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.contact .container .content form textarea {
    margin-bottom: 50px;
}

.contact .container .content form .main-input {
    padding: 10px 10px;
    max-width: 400px;
    max-height: 40px;
    align-self: flex-start;
}

.contact .container .content form input.submit {
    width: fit-content;
    padding: 10px 15px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}

.contact .container .content .image {
    flex-basis: 50%;
}

@media(max-width:767px) {
    .contact .container .content .image {
        display: none;
    }
}

.contact .container .content .image img {
    max-width: 100%;

}

.contact .container .contact-data {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
    flex-wrap: wrap;
}

@media(max-width:767px) {
    .contact .container .contact-data {
        flex-direction: column;

    }
}

.contact .container .contact-data .data {
    text-align: center;
}

@media(max-width:767px) {
    .contact .container .contact-data .data {
        margin-bottom: 50px;

    }
}

.contact .container .contact-data i {
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--main-color);
}

.contact .container .social-links {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.contact .container .social-links a {
    color: black;
}

.contact .container .social-links i {
    padding: 0 20px;
    font-size: 20px;
}

/* end contact */
/* start footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:767px) {
    footer .container {
        flex-direction: column;
    }
}

footer .container .copyright {
    display: flex;
    align-items: center;
}

@media(max-width:767px) {
    footer .container .copyright {
        flex-direction: column;
        justify-content: center;
    }
}


footer .container .copyright img {
    max-width: 100px;
}

footer .container .copyright p {
    color: white;
    font-size: 15px;
    padding-left: 20px;
    text-transform: capitalize;
}

@media(max-width:767px) {
    footer .container .copyright p {
        text-align: center;
        margin-bottom: 15px;
    }
}

footer .container .back-top {
    color: white;
    display: flex;
    align-items: center;
}

footer .container .back-top a {
    padding-right: 10px;
    color: white;
    text-transform: uppercase;
}

@media(max-width:767px) {
    footer .container .back-top a {
        font-size: 12px;
    }
}

/* end footer */